<!-- You can set the "applicationName" property of the application header component by using the bracket [] notation and referring to the "name" property of the application component itself -->
<application-header #header [applicationName]="name" ></application-header>
<div class="application">

  <!--map-example-viewer></map-example-viewer-->

  <!--observable-tester></observable-tester-->
  <!--message-observable-viewer></message-observable-viewer-->
  <div>
    <div class="col-sm-2" >
      <user-list-viewer ></user-list-viewer>
    </div>
    <div class="col-sm-4">
      <user-editor #editor></user-editor>
    </div>
  </div>
</div>
